#friends-display-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 110px;

  background-color: #fafafa;
  padding: 15px 0;

  margin-bottom: 10px;
  font-weight: 300;
  font-size: 18px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
}
#friends-display-link .fa-info-circle {
  font-size: 18px;
  margin-right: 7px;
}
#friends-display-link .fa-chevron-right {
  font-size: 10px;
  margin-left: 10px;
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--border-color);
  padding-top: 15px;
}
.friends-screen__channel__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.5);
}
.friends-screen__channel__header span {
  font-size: 15px;
  font-weight: 500;
}
.friends-screen__channel__header i {
  font-size: 12px;
}

.friends-screen__friends {
  margin-top: 5px;
}

.friends__profile-btn:last-child {
  margin-bottom: 90px;
}

.friends__profile-btn .user-component__column:last-child {
  display: flex;
  align-items: center;
}
.friends__profile-btn .user-component__column:last-child span {
  border: 2px solid turquoise;

  border-radius: 30px;
  font-size: 15px;
  font-weight: 300;
  padding: 10px 20px;
}

.friends__profile-btn .user-component__column:last-child i {
  margin-left: 5px;
  color: turquoise;
}

.nm {
  background-color: white;
}
