.settings-list {
}
.settings__setting {
  padding: 25px 10px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.settings__setting i {
  margin-right: 20px;
  font-size: 25px;
  opacity: 0.8;
}

.settings__setting__column:last-child {
  opacity: 0.7;
  font-weight: 300;
  font-size: 15px;
}
/*

*/
.settings__settin__none-border-bottom {
  border-bottom: none;
}

.settings__border-bar {
  margin: 15px 0px;
}
.settings__main-last {
  margin-bottom: 85px;
}
/**/
.new-bedge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  font-size: 14px;
  background-color: tomato;
  color: white;
  margin-left: 7px;
  font-weight: 700;
}
.settings__setting__column {
  display: flex;
  align-items: center;
}
