.settings__setting {
  padding: 25px 10px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.settings__setting i {
  margin-right: 20px;
  font-size: 25px;
}

.settings__setting__column:last-child {
  opacity: 0.7;
  font-weight: 300;
  font-size: 15px;
}
/*

*/
.settings__settin__none-border-bottom {
  border-bottom: none;
}

.settings__border-bar {
  margin: 15px 0px;
}
.settings__main-last {
  margin-bottom: 85px;
}
/**/
.new-bedge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  font-size: 14px;
  background-color: tomato;
  color: white;
  margin-left: 7px;
  font-weight: 700;
}
.settings__setting__column {
  display: flex;
  align-items: center;
}
/**/
.settings__setting {
  transition: all 0.2s ease-in-out;
}
.settings__setting:hover {
  cursor: pointer;
  color: steelblue;
  background-color: white;
  opacity: 0.8;
  padding: 35px;
  transform: translateX(30px);
  box-shadow: 00px 0px 10px rgba(0, 0, 0, 0.5);
}
.settings__setting i:hover,
.settings__setting span:hover {
  transform: scale(1.2);
}
