.alt-header {
  width: 100%;
  position: fixed;
  top: 30px;

  box-sizing: border-box;
  padding: var(--main-screen-padding);

  background-color: var(--screen-header__background-color);

  display: flex;
  justify-content: center;
  align-items: center;
}
.alt-header__column {
  width: 33%;
}

.alt-header__column:nth-child(2) {
  text-align: center;
}
.alt-header__column .fa-chevron-left {
  font-size: 30px;
}
.alt-header__column .fa-search,
.alt-header__column .fa-bars {
  font-size: 25px;
}
.alt-header__title {
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.alt-header__column:first-child {
  margin-right: auto;
}
.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.settings__border-bar {
  width: 100%;
}
/*

*/
.alt-header__column span:last-child {
  margin-left: 20px;
}
/*

*/
.alt-header i:hover {
  cursor: pointer;
  color: var(--hover-bar-icon);
}

.alt-header i:hover,
.alt-header__title:hover {
  transform: scale(1.1);
}
