.icon-row {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 20%;
}

.icon-row__icon i:not(.fa-address-book) {
  font-size: 30px;
  margin-bottom: 20px;
}
.icon-row__icon span {
  font-size: 15px;
  font-weight: 500;
}

.fa-address-book {
  font-size: 30px;
  margin-bottom: 12px;
}

/*
*/
.more__i {
  position: relative;
}
.more__i__new {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: 15px;
  top: -5px;
}
