#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  padding-bottom: 100vh;
  width: 100vw;
  background: linear-gradient(0.7turn, #3de0eb, #9573a0, #230488);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 900;
  top: 0;
  color: rgba(0, 0, 0, 0.7);

  transition: all 1s ease-in-out;
}
@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}

.no-mobile__ice-crack {
  opacity: 0.5;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}
#no-mobile span {
  padding: 20px;
  background-color: cadetblue;
}

#no-mobile:hover {
  font-size: 40px;
}
