.screen-header {
  width: 100%;
  position: fixed;
  top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: var(--main-screen-padding);

  background-color: var(--screen-header__background-color);
}

.screen-header__title {
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.screen-header__icons i {
  font-size: 22px;
  color: white;
}
.screen-header__icons span {
  margin-left: 22px;
}
/*

*/
.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
@keyframes rotateCog {
  0% {
    transform: none scale(1);
  }
  50% {
    transform: rotateZ(180deg) scale(1.3);
  }
  100% {
    transform: rotateZ(360deg) scale(1);
  }
}
.screen-header__icons i:hover {
  cursor: pointer;
  color: var(--hover-bar-icon);
}

.screen-header__icons i:hover:not(.fa-cog:hover) {
  transform: translateY(-5px);
}
.screen-header__title:hover {
  transform: scale(1.1);
}
