.user-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
/*

*/
.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 25px;
  margin-right: 20px;

  border: var(--img-border-color);
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 20px;
}
/*

*/
.user-component__title {
  font-size: 25px;
  font-weight: 500;
}

.user-component__title--not-bold {
  font-weight: 300;
}

.user-component__subtitle {
  margin-top: 5px;
  font-size: 17px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.5);
}

.user-component__column__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.user-component__time {
  display: block;
  margin-bottom: 10px;
  font-weight: 300;
}
/*

*/
.user-component__subtitle .fa-exclamation-circle {
  font-size: 17px;
  margin-left: 3px;
  color: tomato;
}
.user-component__column:last-child .fa-comment-alt {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.7);
}
