/*styles.css에 @import "components/nav-bar.css" 잊지 말기
    <head>에 링크 안걸고 css에 @import 하여서 사용 중
*/

/*nav__btn은 <i>아이콘 </i>을 보여주고있고, <a>는 아이콘에 하이퍼링크
따라서, 아이콘들을 가로 배열 하려면 아이콘들의 부모인 nav__list에 display:flex; 

<li>web</li>    >>>> 웹 화면에 web글씨 나타남.
*/
.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}
/*
reset.css로 가서 아래와 같이 작성하면, link의 밑줄이 없어지고, color를 부모에게서 상속받음
a{
  color:inherit;
  text-decoration:none;
}
*/
.nav__link {
  color: #2e363e;

  position: relative;
}

.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;

  animation: notificationAnimation 2s ease-in-out infinite;
}
.nav__btn {
  transform: translateY(50px);
  opacity: 0;
  animation: appearBtnAnimation 0.3s ease-in-out forwards;
}
.nav__btn:nth-child(2) {
  animation-delay: 0.2s;
}
.nav__btn:nth-child(3) {
  animation-delay: 0.5s;
}
.nav__btn:last-child {
  animation-delay: 0.8s;
}
@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-10px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}
@keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}
