/*순서 지켜서 적기
폰트와 variable이 다른 css보다 밑에 간다면, import 되지 않아서 적용 안됨.
*/

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

@import "reset.css"; /*margin,padding,border=0 으로 설정*/
@import "variables.css"; /*colorzilla이용해 색상 추출 후 변수 저장용*/

/*components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-raw.css";
@import "compoonents/alt-screen-header.css"; /*alternative screen header*/

/*screens*/
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
  color: #2e363e;
  font-family: "Source Sans Pro", sans-serif;
  /* margin: 0; ==>> reset.css이용하면 대부분의 margin,padding,border를 0으로 자동으로 해줌*/
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
