.welcome-header {
  margin: 90px 0;
  /*title의 top에 margin 90px
    text의 bottom에 margin 90px*/
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
}
.welcome-header__text {
  width: 60%;
  opacity: 0.7;
  /*opacity글씨를 연하게 만들수 있음  그냥 회색으로 바꿔써도 됨*/
}

/*
  위의 class명은 BEM을 사용
  알아보기 쉽도록
  부모 이름__클래스명
  
  아래에 작성한 코드들을 BEM으로 바꿔보자
  .login-form__input{}
  .login-form__btn{}
  .login-form__a{}
  */

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px; /*상하  좌우*/
}

/*.login-form의 자식인 input들*/
.login-form input {
  border: none;
  padding: 15px 0px; /*상하  좌우*/
  font-size: 18px;
  /* :not()으로 옮김    border-bottom: 1px solid rgba(0, 0, 0, 0.3);*/
  margin-bottom: 20px;
  /* :not()으로 옮김    transition: border-color 0.3s ease-in-out;*/
}
/*:not()*/
.login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); /*rgba= rgb와 opacity*/
  transition: border-color 0.3s ease-in-out;
} /*input type이 submit이 아닐 때만 적용*/

.login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
} /*::pseudo-element 이중콜론을 이용해 원하는 부분만 선택*/

.login-form input:focus {
  border-color: var(--yellow);
} /*state focus상태 즉, 키보드입력(클릭) 상태일 경우*/
/*reset.css에서 input:focus{outline:none;}으로 설정하면 테두리 안생김 */

.login-form input[type="submit"] {
  padding: 20px 0px;
  border-radius: 5px;

  background-color: var(--yellow);
  cursor: pointer; /*커서모양 변경*/
} /*input type="submit"인 경우에 */

.login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit; /*color:inherit; 부모로 부터 색을 물려 받음(상속)*/
  font-size: 13px;
}
